@charset "UTF-8";
:root {
	--color-beige: #f6f5ee;
	--color-font-black: #333;
	--color-font-light-black: #555;
	--color-font-green: #669900;
	--temp-border: solid 0px black;
	--font-family: normal Avenir, Arial, georgia;
}

* {
	margin: 0;
	padding: 0;
	color: var(--color-font-black);
	font-family: var(--font-family);
}

header {
	border-top: solid 2px black;
	background: var(--color-beige);
	background: rgba(246, 245, 238, 0.8); /* 투명한 색상 설정 */
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 300; /* 이미지가 다른 요소들보다 앞에 나타나도록 설정 */
}

header .head-wrap .head-wrap-inner .search-btn {
	position: absolute;
	top: 10px;
	right: 40px;
	background: white;
	border: solid 1px gray;
	border-radius: 5px;
	width: 34px;
	height: 34px;
}

header .head-wrap .head-wrap-inner .search-btn img {
	position: absolute;
	top: 7px;
	left: 7px;
}

header .head-wrap {
	border: var(--temp-border);
	height: 80px;
	width: 1100px;
}

header .head-wrap .head-wrap-inner {
	height: 80px;
	width: 1100px;
	position: relative;
	border: var(--temp-border);
}

header .head-wrap-inner .head-logo {
	position: absolute;
	top: 5px;
	width: 85px;
	height: 85px;
	object-fit: contain;
	z-index: 101; /* 이미지가 다른 요소들보다 앞에 나타나도록 설정 */
}

header .head-wrap .head-wrap-inner .head-menu-top-nav {
	position: absolute;
	left: 552px;
	top: 21px;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul {
	list-style: none;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul li {
	float: left;
	color: var(--color-font-light-black);
	font-size: 13px;
	text-align: center;
	height: 20px;
	border: var(--temp-border);
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul li a {
	text-decoration: none;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul li a:hover {
	text-decoration: underline;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav01 {
	width: 76px;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav02 {
	width: 106px;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav03 {
	width: 181px;
}

header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav04 {
	width: 97px;
}

header .head-wrap-sub {
	position: absolute;
	top: 10px;
	width: 1100px;
	height: 66px;
	border: var(--temp-border);
}

header .head-wrap-sub {
	display: flex;
	justify-content: flex-end;
}

header .head-wrap-sub h3 {
	text-align: left;
}

header .head-wrap-sub ul {
	list-style: none;
	width: 737px;
	display: flex;
	justify-content: space-between;
	border: var(--temp-border);
}

header .head-wrap-sub ul li {
	text-align: center;
	flex: auto;
}

header .head-wrap-sub ul li a {
	text-decoration: none;
	display: block;
	margin-right: 30px; /* 원하는 간격으로 설정 */
	border: var(--temp-border);
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 10px;
	height: 66px;
}

header .head-wrap-sub ul li a:hover {
	text-decoration: underline;
	background-color: #2c2a29;
	color: var(--color-font-green);
}

/* 메인 스타일 */
.main {
  display: grid;
  margin: 70px;
 /*  padding: 0; */
}

a:link, 
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.userExpense {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mileage{
	width: 100%;
	border-collapse: separate;
	border: 4px solid #F3F3F3;
	padding: 10px;
}

/* .mileage tr, .mileage td {
	border: 4px solid #F3F3F3;
	
} */

.userOperations {
	display: flex;
	justify-content: center;
	align-items: center;
}

.operations{
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border: 4px solid #F3F3F3;
	padding: 10px;
}

.operations td {
	width: 33.33%;
	text-align: center;
	vertical-align: middle;
}

footer {
	width: 100%;
	height: auto;
	background: #f8f8f8;
	border-top: 1px solid #e9e9e9;
	box-sizing: border-box;
	margin-top: 30px;
}

footer>ul {
	width: 1200px;
	height: 39px;
	margin: 0 auto;
	padding: 15px 0;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
	text-align: center;
}

footer>ul>li {
	display: inline-block;
	font-weight: bold;
	border-right: 1px solid #d7d7d7;
	padding: 0 10px;
}

footer>ul>li:nth-child(1) {
	border-left: 1px solid #d7d7d7;
}

footer>ul>li>a {
	font-family: "Arial", sans-serif; /* 적용하고자 하는 글꼴 이름을 입력합니다. */
	font-size: 14px; /* 원하는 글꼴 크기를 입력합니다. */
	color: #000000; /* 원하는 글꼴 색상을 입력합니다. */
}

footer>div {
	width: 1200px;
	height: auto;
	padding-top: 20px;
	box-sizing: border-box;
	margin: 0 auto;
}

footer>div>p {
	float: left;
	height: 100%;
	font-size: 11px;
	line-height: 15px;
	color: #676767;
}

footer>div>p:nth-of-type(2) {
	width: 300px;
	margin-left: 30px;
	margin-right: 30px;
}

footer>div>p>img {
	
}

footer>div>p>strong {
	display: inline-block;
	padding: 6px 15px 7px 0;
	font-size: 12px;
	font-weight: bold;
}


img {
	min-width: 300px;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	padding: 0%;
	display: block;
	margin: 0 auto;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 50px;
	/* background-color: rgba(0, 0, 0, 0.5);
   /*  z-index: 2; */
	top: 100%;
	margin-top: 5px;
	max-height: 150px; /* 드롭다운 메뉴의 최대 높이 설정 */
	overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 추가 */
	z-index: 100; /* 드롭다운 메뉴의 z-index 조정 */
}

.dropdown:hover .dropdown-content {
	display: block;
}

.button-style {
	font-size: 20px;
	color: white;
	background-color: #2196F3;
	border: none;
	width: 20%;
	height: 50px;
	border-radius: 25px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: background-color 0.3s ease;
}

.btn-login, .btn-dog, .btn-new {
	padding: 10px 20px;
	background-color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-dog {
	background-color: #eaeaea;
	margin-right: 20px;
}

.btn-login.btn-dog:hover {
	background-color: black;
	color: white;
}

.btn-new {
	background-color: #dcdcdc;
}